<div class="contenedor">

    <mat-form-field>
      <input matInput type="number" [(ngModel)]="num1" placeholder="Numero1">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="num2" placeholder="Numero2">
    </mat-form-field>
  
    <mat-radio-group name="opciones" [(ngModel)]="operaSelect">
      <mat-radio-button *ngFor="let op of tipoOperacion" name="opciones" [value]="op" style="margin:10px;">
        {{op}}
      </mat-radio-button>
    </mat-radio-group>
  
    <button mat-raised-button color="primary" (click)="calcular()">Calcular</button>
  
    <h1><p>Resultado: {{resultado}}</p></h1>
  
  </div>
  